@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
h1{
    font-size: 8rem;
    font-weight:100;
    color:white;
    text-align: center;
    margin: 0;
    padding-bottom: 5%;
    padding-top: 5%;
    letter-spacing: 10px;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    height: 50vh;
    min-height:40vh;
    width:100%;
    display: grid;
    background-color: #0F0E0E;
    margin: 0;
    place-items: center;
    overflow: hidden;
}


#wrapper {
    aspect-ratio: 1.68;
    width: 80vmin;
    position: relative;
  }

#wrapper > .shape {
    height:15%;
    width:15%;
    background-color:darksalmon;
    position: absolute;
    transition: left, top, height, width, border-radius;
    transition-duration: 750ms;
    transition-timing-function:ease-in-out;
}

#wrapper > .shape:nth-child(1){
  
    background-color: #C08497;
    z-index: 2;
}
#wrapper > .shape:nth-child(2){
    
    background-color: #FAF0CA;
    z-index: 2;
}
#wrapper > .shape:nth-child(3){
    
    background-color: #F4D35E;
    z-index: 1;
}
#wrapper > .shape:nth-child(4){
    
    background-color: #EE964B;
    z-index: 2;
}
#wrapper > .shape:nth-child(5){
    
    background-color: #F95738;
    z-index: 2;
}
#wrapper[data-configuration='1'] > .shape:nth-child(1){
    top: 0%;
    left: 0%;
    height:80%;
    width:26%;
}
#wrapper[data-configuration='1'] > .shape:nth-child(2){
    top:0%;
    left:26.1%;
    height:60%;
    width:20%;
}

#wrapper[data-configuration='1'] > .shape:nth-child(3){
    top: 0%;
    left: 46.1%;
    height:68%;
    width:10%;
}

#wrapper[data-configuration='1'] > .shape:nth-child(4){
    top: 0%;
    left: 56.1%;
    height:82%;
    width:23%;
}

#wrapper[data-configuration='1'] > .shape:nth-child(5){
    top: 10%;
    left: 79.1%;
    height:80%;
    width:20.9%;
}
#wrapper[data-configuration='2'] > .shape:nth-child(1){
    top: 0%;
    left: 0%;
    height:100%;
    width: 20%;
}
#wrapper[data-configuration='2'] > .shape:nth-child(2){
    top:0%;
    left:20%;
    height: 100%;
    width:30%;
}

#wrapper[data-configuration='2'] > .shape:nth-child(3){
    top:0%;
    left:50%;
    height:70%;
    width:50%;
}

#wrapper[data-configuration='2'] > .shape:nth-child(4){
    top:0%;
    left:70%;
    height:40%;
    width:30%;
}

#wrapper[data-configuration='2'] > .shape:nth-child(5){
    top:70%;
    left:50%;
    height:30%;
    width:50%;
}
#wrapper[data-configuration='3'] > .shape:nth-child(1){
    top: 10%;
    left: 10%;
    height:50%;
    width: 30%;
}
#wrapper[data-configuration='3'] > .shape:nth-child(2){
    top:60%;
    left:10%;
    height: 40%;
    width:30%;
}

#wrapper[data-configuration='3'] > .shape:nth-child(3){
    top:10%;
    left:30%;
    height:50%;
    width:35%;
}

#wrapper[data-configuration='3'] > .shape:nth-child(4){
    top:10%;
    left:65%;
    height:50%;
    width:25%;
}

#wrapper[data-configuration='3'] > .shape:nth-child(5){
    top:60%;
    left:40%;
    height:40%;
    width:50%;
}


#wrapper[data-roundness="1"] > .shape {   
    border-radius: 8rem; 
}
#wrapper[data-roundness="2"] > .shape {   
    border-radius: 0rem; 
}


.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

#popup-container{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 60vmin;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff1f5; 
    border-radius: 1rem;
    aspect-ratio: 1.68;
    visibility: hidden;
    opacity: 0;
    overflow: auto;
    transition: 0.5s;
    font-size: 2rem;
    filter:blur(0px);
    z-index: 2;
}

#popup-container.active{
    top:50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#wrapper.active > :not(#popup-container){
    filter:blur(20px);
    pointer-events: none;
    user-select: none;
}
a#close{
    position:relative;
    padding:20px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff1f5;
    background: #111;
}