h1{
    font-family: sans-serif;
    font-size: 700%;
    color:white;
    text-align: center;
    margin: 0;
    padding-bottom: 5%;
    padding-top: 5%;
}
body {
    height: 50vh;
    width: 100vw;
    display: grid;
    background-color: #0F0E0E;
    margin: 0;
    place-items: center;
    overflow: hidden;
}


#wrapper {
    aspect-ratio: 1.5;
    width: 60vmin;
    position: relative;
  }

#wrapper > .shape {
    height:15%;
    width:15%;
    background-color:darksalmon;
    position: absolute;
    transition: left, top, height, width, border-radius;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

#wrapper > .shape:nth-child(1){
  
    background-color: #883955;
    z-index: 2;
}
#wrapper > .shape:nth-child(2){
    
    background-color: #E6ADEC;
    z-index: 2;
}
#wrapper > .shape:nth-child(3){
    
    background-color: #EFB9CB;
    z-index: 1;
}
#wrapper > .shape:nth-child(4){
    
    background-color: #EECFD4;
    z-index: 2;
}
#wrapper > .shape:nth-child(5){
    
    background-color: #F3F9D2;
    z-index: 2;
}
#wrapper[data-configuration='1'] > .shape:nth-child(1){
    top: 0%;
    left: 0%;
    height:80%;
    width:25%;
}
#wrapper[data-configuration='1'] > .shape:nth-child(2){
    top:0%;
    left:25.3%;
    height:60%;
    width:20.2%;
}

#wrapper[data-configuration='1'] > .shape:nth-child(3){
    top: 0%;
    left: 45.8%;
    height:68%;
    width:10%;
}

#wrapper[data-configuration='1'] > .shape:nth-child(4){
    top: 0%;
    left: 56%;
    height:82%;
    width:22%;
}

#wrapper[data-configuration='1'] > .shape:nth-child(5){
    top: 10%;
    left: 78.3%;
    height:80%;
    width:21.3%;
}

#wrapper[data-roundness="1"] > .shape {   
    border-radius: 6rem; 
  }

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }