h1{
    font-family: sans-serif;
    font-size: 700%;
    color:white;
    text-align: center;
    margin: 0;
    padding-bottom: 5%;
    padding-top: 5%;
}
body {
    height: 50vh;
    width: 100vw;
    display: grid;
    background-color: black;
    margin: 0;
    place-items: center;
    overflow: hidden;
}


#wrapper {
    aspect-ratio: 1.62;
    width: 90vmin;
    background-color: white;
    position: relative;
  }

#wrapper > .shape {
    height:15%;
    width:15%;
    background-color:darksalmon;
    position: absolute;
    transition: left, top, height, width, border-radius;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

#wrapper > .shape:nth-child(1){
    top:0%;
    left:0%;
}
#wrapper > .shape:nth-child(2){
    top:0%;
    right:0%;
}

#wrapper > .shape:nth-child(3){
    top:
}